 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

/*body*/
   body {
     
        margin-right: -568px;
    }

    /*header*/
    .header {

    padding: 15px 0;
}

    .nav_a {
        margin-left: 53px;
    }
.nav_butt{
 margin-right: -110px;
}
    .nav_butt {
        margin-right: 46px;
    }


.menu ul{

}
.dpdm{
    width: 600px;
}
.dpdm[data-bs-popper] {
  margin-top: 0;
    left:-7px;
}
.search_button{
   
    padding-left: 48px;

}
    /*header*/
    .dpdm{
    width: 600px;
}
.dpdm[data-bs-popper] {
  margin-top: 0;
    left:-7px;
}
.search_button{
   
    padding-left: 48px;

}
/*slider*/
.slider {
    padding: 150px 0;
    height: 300px;
}
   .sli_p {
        text-align: center;
        padding: 18px 86px 10px;
    }
        .sli_a {
        margin-left: 340px;
    }

.btn_wrap {
       text-align: center;
        margin-top: -54px;
    }

.sli_h1 {
    
    font-size: 40px;
        text-align: center;
    }
 
  
    
       
    #cex1 {
        bottom: 100px;
    }

.b_slider {
    margin: 0;
}

.carou_slide{
bottom:90px;
}
.s_button{
    padding-left: 156px;

}
.s_text h1 {
    text-align: center;
    font-size: 30px;
    
}
.s_text p {
    text-align: center;
    padding: 10px 0px 10px 0;
    font-size: 14px;
}

.c_ind {
        bottom: -54px;
    }

.c_ind [data-bs-target] {
    padding: 0 44px 0 0;
}

.c_ind {
        left: 557px;
    }
/*banner*/
.banner {
    padding: 41px 22px 0;
    margin-top: 35px;
    }
.ab_h1{
     
    padding: 30px 0 10px;

}
.ban_btn{
margin-left: 150px;
}
.ab_img img {
    padding-top: 7px;
}
.b_text P {
    padding-top: 30px;
}
.ab_text h1 {
    font-size: 23px;
  }
.banner {
    padding: 60px 50px 0;
}

/*feature*/
.feature {
    padding-top: 56px;
}
.s_feature {
    padding-top: 50px;
    margin-bottom: 56px;
    }
.basic{
    width: 125px;
    margin-top: -95px;
    }
    .s_icon {
     margin-top: -81px;
        margin-left: 177px;
    }
 /*about*/
 .about {
    padding: 25px 0;
}
     .ab_text h1 {
        text-align: center;
       
    }
    .ab_text p {
    text-align: center;
}
    .ban_btn {
        margin-left: 334px;
    }

/*choose*/
.ch_item .ch_text h2 {
   
    font-size: 17px;
}
    .ch_item .ch_icon {
    margin-left: 44px;
}

    /*price*/
      .p_title {
        padding-bottom: 12px;
    }

 
/*small*/
.small_button button {
  
    margin-top: -85px;
}
.small_item p {
  
    margin-top: 22px;
}

/*work*/
.work {
    padding-top: 20px;
    padding-bottom: 129px;
}
    .white {
        margin-right: 87px;
    }
.single_wrap{
    padding-left: 42px;
    margin-bottom: 100px;
}
    
.white {
    margin-right: 48px;
  
}


/*member*/
.m_text {
    text-align: center;

}
.m_but {
   
    padding-right: 40px;
    padding-top: 84px;
    margin-top: 174px;
}
  .mbut_wrap{
    margin-left: -10px;
   
}
.m_img {
    margin-left: 0px;
}
.m_item {
    padding-left: 30px;
  }
  .m_text {
    padding-top: 20px;
}
.mp2 {
    margin-top: 0px;
}
.mp1{
    margin-top: 15px;
}
/*small*/
.small {
    padding: 0 20px;
}
.small_item p {
        font-size: 17px;
    }

/*contact*/
.contact {
    padding-top: 50px;
}
.con_form {
    margin-left: 0px;
}
.cont_item {
    margin-left: 51px;
    padding: 20px;
}
.con_name input {
    width: 323px;
}
.nm1 {
    margin-left: 6px;
}
.nm2 {
        margin-left: 34px;
    }
.emaild {
    padding-left: 181px;
}
    .con_mail input {
        width: 722px;
    }
.con_form textarea {
    width: 722px;
}
.con_button{
    
    text-align: center;
}


/*footer top*/
footer{
    margin-top: 10px;
}
.foot_top p {
    padding: 7px 157px;
}
.foot_end {
    padding: 15px 39px 25px;
}

.footer_top {
    padding-top: 62px;
}
    .ft_item p {
        padding: 0 182px 30px;
    }
.ft_icon ul li a i {
    font-size: 24px;
  }

  /*footer*/
  .f1 p {
    font-size: 14px;
}
  .f2 ul li a {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 0;
        margin-right: 6px;
}
.f1 p {
    padding-top: 2px;
}

 }

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    /*body*/
    body{
        margin-right: -366px;
    }
	/*header*/
    .header {

    padding: 15px 0;
}

.nav_a{
margin-left: -117px;
}
.nav_butt{
 margin-right: -110px;
}

.menu ul{

}
.dpdm{
    width: 600px;
}
.dpdm[data-bs-popper] {
  margin-top: 0;
    left:-7px;
}
.search_button{
   
    padding-left: 48px;

}
/*slider*/
.slider {
    padding: 150px 0;
    height: 300px;
}
.sli_h1 {
    
    font-size: 40px;
        text-align: center;
    }
    .sli_p {
    text-align: center;
    padding: 18px 0 10px;
}
    .sli_a {
      
        margin-left: 169px;
    }
    .btn_wrap {
        text-align: center;
        margin-top: -58px;
    }
       
    #cex1 {
        bottom: 100px;
    }
    .btn_wrap{
 margin-top: -57px;
}
.b_slider {
    margin: 0;
}

.carou_slide{
bottom:90px;
}
.s_button{
    padding-left: 156px;

}
.s_text h1 {
    text-align: center;
    font-size: 30px;
    
}
.s_text p {
    text-align: center;
    padding: 10px 0px 10px 0;
    font-size: 14px;
}

   .c_ind {
        bottom: -54px;
    }
    .c_ind [data-bs-target] {
    padding: 0 44px 0 0;
}

    .c_ind {
        left: 557px;
    }
/*banner*/
.banner {
    padding: 41px 22px 0;
    margin-top: 35px;
    }
.ab_h1{
     
    padding: 30px 0 10px;

}
.ban_btn{
margin-left: 150px;
}
.ab_img img {
    padding-top: 7px;
}
.b_text P {
    padding-top: 30px;
}
.ab_text h1 {
    font-size: 23px;
  }
.banner {
    padding: 60px 50px 0;
}

/*feature*/
.feature {
    padding-top: 56px;
}
        .s_feature {
        padding-top: 50px;
        margin-bottom: 56px;
    }
    .basic{
            width: 125px;
    margin-top: -95px;
    }
      
    .s_icon{
            margin-top: -81px;
    }

/*choose*/
.ch_item .ch_text h2 {
   
    font-size: 17px;
}

    /*price*/
      .p_title {
        padding-bottom: 12px;
    }
 
/*small*/
.small_button button {
  
    margin-top: -85px;
}
.small_item p {
  
    margin-top: 22px;
}

/*work*/
.work {
    padding-top: 20px;
}

.single_wrap{
    margin-bottom: 100px;
}
.white {
    margin-right: 0px;
  
}


/*member*/
.m_text {
    text-align: center;

}
.m_but {
   
    padding-right: 40px;
    padding-top: 84px;
    margin-top: 174px;
}
  .mbut_wrap{
    margin-left: -10px;
   
}
.m_img {
    margin-left: 0px;
}
.m_item {
    padding-left: 30px;
  }
  .m_text {
    padding-top: 20px;
}
.mp2 {
    margin-top: 0px;
}
.mp1{
    margin-top: 15px;
}

/*contact*/

.con_form {
    margin-left: 0px;
}
.nm1 {
    margin-left: 6px;
}
    .nm2 {
        margin-left: 34px;
    }
    .emaild {
    padding-left: 181px;
}
.con_mail input {
    width: 477px;
}
.con_form textarea {
    width: 480px;
}
.con_button{
    text-align: center;
}


/*footer top*/
.foot_top p {
    padding: 7px 157px;
}
.foot_end {
    padding: 15px 39px 25px;
}

.footer_top {
    padding-top: 62px;
}
    .ft_item p {
        padding: 0 182px 30px;
    }
.ft_icon ul li a i {
    font-size: 24px;
  }

  /*footer*/
  .f1 p {
    font-size: 14px;
}
  .f2 ul li a {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 0;
        margin-right: 6px;
}
.f1 p {
    padding-top: 2px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
body{
 margin-right: -55px;
}
/*header*/
.dpdm[data-bs-popper] {
    left: 0;
}
/*slider*/
.slider{
   
}
.sli_h1 {
    font-size: 42px;
}

#cex1 {
    bottom: 88px;
 
}
.sli_button{
   font-size: 15px;
}
.sli_p {
    
    padding: 10px 34px 10px 0;
}
 .sli_a {
    margin-left: 250px;
}
 .b_slider {
    margin: 200px 0 0px;
}
.s_text h1 {
  
    font-size: 43px;
    text-align: center;
  }
     .s_text p {
                padding: 16px 92px 12px;
        text-align: center;
    }
    .s_button{
          margin-left: 232px;
    }
        .c_ind {
        bottom: -54px;
    }
    .c_ind [data-bs-target] {
    padding: 0 44px 0 0;
}
.slider{
      height: 430px;
}
    .c_ind {
        left: 557px;
    }

/*banner*/
    .banner {
        padding: 47px 50px 0;
    }
         .b_text P {
        padding-top: 15px;
            font-size: 15px;
    }

.ab_img img {
    padding-top: 7px;
}

.ab_text h1 {
    font-size: 23px;
  }
.banner {
    padding: 60px 50px 0;
}

/*feature*/
.feature {
    padding-top: 18px;
}
    .s_feature {
        margin-top: 40px;
        padding-top: 50px;
         padding-bottom: 11px;
    
}

.s_icon{
    margin-left: 138px;
    margin-top: -80px;
}
    
    /*price*/
    .p_title {
    
    padding-bottom: 0px;
}
.price_item span {
    font-size: 30px;
}
    .s_feature {
        
        padding-bottom: 22px;
    }
/*recent*/
.recent {
    
    padding-bottom: 51px;
}
.r_white {
        padding: 10px 0;
        margin-right: 0;
    }

/*work*/
    .white {
        margin-right: 54px;
        padding:7px 0;
    }
   .w_h2 {
        padding: 8px 0 5px 40px;
        
    }
.w_img {
    margin-top: 99px;
}
.w_h2 {
    padding: 5px 0 5px 40px;
    font-size: 15px;
}
.w_p {
    padding: 0 0 5px 40px;
    font-size: 13px;
}
.work_wrap{
  
    margin-left: 54px;
    margin-top: -78px;
   
}
.single_wrap{
  
    margin-bottom: 22px;

}

/*small*/
.small_button button {
  
    margin-top: -85px;
}
.small_item p {
  
    margin-top: 22px;
}

/*member*/
    .m_text {
        padding-top: 0px;
    }
.m_text p {
  
    font-size: 14px;
}
.m_item {
    padding-left: 30px;
  }

    .mp2 {
        margin-top: -10px;
    }
   .mbut_wrap{
    margin-left: -17px;
   
}
.mp1{
    margin-top: 15px;
}
/*contact*/
.contact {
    padding-top: 50px;
}
.con_form {
    margin-left: 29px;
}
.con_name input {
    width: 279px;
}
#lname{
    margin-left: -4px;
}
.con_button {
    text-align: center;
}
.nm1 {
    margin-left: 6px;
}
    .nm2 {
        margin-left: 34px;
    }
    .emaild {
    padding-left: 181px;
}
/*footer top*/
.foot_top {
    padding-top: 35px;
}
.foot_top p {
    padding: 25px 61px 10px;
}
    .ft_item p {
        padding: 0 182px 30px;
    }
.ft_icon ul li a i {
    font-size: 24px;
  }

  /*footer*/
  .f1 p {
    font-size: 14px;
}
  .f2 ul li a {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 0;
        margin-right: 6px;
}
.f1 p {
    padding-top: 2px;
}
.f1{
    margin-left: 22px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  /*slider*/
  .sli_h1 {
    font-size: 49px;
}
.sli_p {
    padding: 13px 0;
}
  /*banner*/
.b_text P {
    padding: 20px 0px;
}
/*feature*/
    .s_icon {
        margin-left: 78px;
    }
    /*recent*/
    .r_menu {
    margin-top: 52px;
    margin-bottom: 10px;
}
/*work*/
.white {
    margin-right: 0px;
}
.w_h2 {
    padding: 20px 0 7px 24px;
}
.w_p {
    padding: 0 0 20px 22px;
}
/*price*/
.price_button button {
   
    padding: 0px 0px 12px;
}
.price_button button a {
   
    padding: 0px 25px 0px;
}

.s_feature a {
    margin-top: 9px;
}
/*small*/
.small_button button {
   
    padding: 0;
}
/*member*/
.m_but {
    padding-top: 115px;
    padding-bottom: 93px;
}
   .mbut_wrap {
                margin-top: -13px;
    }
.msli_button {
    border: none;
    padding-left: 0;
}
.msli_span {
    margin-left: -10px;
    padding-left: 0px;
}
.m_text p {
 
    font-size: 16px;
}
  .s_text p {
    padding: 50px 286px 50px 0;
  }
    .c_ind {
    left: 188px;
}

/*contact*/
.cont_item {
    margin-left: -140px;
    padding: 20px 22px 20px 0;
}
.con_name input {
    width: 295px;
}
.nm2{
    margin-left: 95px;
}
.nm1 {
    margin-left: 131px;
}
/*footer top*/
    .ft_icon ul li a i {
        font-size: 18px;
    }
.ft_item p {
   
    padding: 0 203px 30px;
}
.ft_icon ul li a i {
    font-size: 18px;
  }
  .foot_top p {
    margin-top: 26px;
}
.f1 p {
    font-size: 15px;
}
.f2 ul li a {
    font-size: 15px;
}
.f1{
    margin-left: 22px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
    /*slider*/
    .sli_h1{
    font-size:59px;
}
.sli_p {
    padding: 13px 0;
}
  .s_text p{
        padding: 50px 623px 50px 0;
  }
  /*banner*/
.b_text P {
    padding: 20px 0px;
}

  /*contact*/
  .nm1 {
    margin-left: 41px;
}
.con_name input {
    width: 290px;
}
/*footer*/
.f1{
    margin-left: 22px;
}
 }

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1699.98px){ 
    
	/*slider*/
    .sli_p{
        padding: 25px 68px 25px;
    }
    .sli_h1{
        padding-left: 56px;
    }
    .sli_a {
    margin-left: 63px;
}
    .btn_wrap {
    margin-left: 47px;
}
  .s_text p{
        padding: 50px 623px 50px 0;
  }

  /*banner*/
   .b_text P {
    padding: 25px 82px 25px;
    }
/*feature*/
.s_icon {
   
    margin-left: 125px;
}

/*choose*/
.ch_item .ch_icon i{
     margin-left: 40px;
 }
 .ch_item p {
   margin: 20px 38px 35px;
}

/*work*/
.white {
    margin-right: 50px;
}

  /*contact*/
  .con_name input {
    width: 288px;
}
#lname{
    margin-left: -60px;
}
  .nm1 {
    margin-left: 41px;
}
/*footer*/
.f1{
    margin-left: 22px;
}
.foot_top{
    padding-top: 64px;
}
}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1700px) and (max-width: 1899.98px){ 
	
}


/*Extra extra large devices (large desktops, 1400px and up)*